/* ====================
      commons   
====================== */
.container {
   max-width: 75rem;
   margin: 0 auto;
   padding: 1rem 1.875rem;
}

.col {
   width: 100%;
   margin-bottom: 1.5625rem;
}
/* ====================
      flex   
====================== */
.flex-box {
   display: flex;
}

.flex-wrap {
   flex-wrap: wrap;
}

.content-between {
   justify-content: space-between;
}
.content-center {
   justify-content: center;
}
.items-center {
   align-items: center;
}

/* ====================
      typography   
====================== */
body {
   font-family: "PT Sans", sans-serif;
}
.center-text {
   text-align: center;
}

/* ====================
      utilities   
====================== */
.list-inline {
   display: flex;
   list-style: none;
}

.list-inline > *:not(:last-child) {
   margin-inline-end: 1.875rem;
}

.fluid-img {
   width: 100%;
}

/* ====================
      card   
====================== */

.card {
}

/* ====================
      buttons   
====================== */
.btn {
   border-radius: 1.25rem;
   background-color: white;
   color: black;
}

.btn-xs {
}

.btn-sm {
   padding: 0.5rem 1.5rem;
}

.btn-lg {
}

.btn-xl {
}

.btn-primary {
}

.btn-secondary {
}
