header {
   background-color: var(--secondary-color);
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   z-index: 6969;
   margin-bottom: 2rem;
   color: white;
}

header nav > .list-inline {
   display: none;
}
#hamburger {
   /* input checkbox sempre nascosto */
   display: none;
}
/* schermi più larghi di 992px */
@media screen and (min-width: 992px) {
   label[for="hamburger"] {
      display: none;
   }
   header nav > .list-inline {
      display: flex;
   }
}
