header {
   background-color: var(--secondary-color);
}
header nav > .list-inline {
   display: none;
}
#hamburger {
   display: none;
}
/* targets schermi più larghi di 992px */
@media screen and (min-width: 992px) {
   label[for='hamburger'] {
      display: none;
   }
   header nav > .list-inline {
      display: flex;
   }
}
