/* debug */
#cards article {
   height: 300px;
   background-color: green;
}
/* sezione cards */
#cards .col {
   width: 100%;
   margin-bottom: 1.5625rem;
}
/* targets schermi più larghi di 768px */
@media screen and (min-width: 768px) {
   #cards .col {
      width: calc(100% / 3 - 0.9375rem * 2);
      margin: 0.9375rem; /*gutter*/
   }

   #cards > .flex-box {
      margin: 0 -0.9375rem;
      /* allineamento gutter-container */
   }

   #cards .col:first-child {
      width: calc(100% / 3 * 2 - 0.9375rem * 2);
   }
}
