/* debug */
article {
   /* min-height: 250px; */
   background-color: green;
}

/* sezione cards */
#cards .card {
   background-color: var(--secondary-color-light);
}
#cards h3,
#cards i:not(.btn i) {
   color: var(--secondary-color);
}
#cards .card > i {
   font-size: 5.5rem;
}

#cards .btn {
   margin: 1.875rem 0;
}
#cards p {
   color: #222222;
}
#cards .card:first-of-type {
   padding-bottom: 0;
}
.download-img > img {
   display: block;
   /* tolgo i 4px degli inline-block */
}

@media screen and (min-width: 768px) {
   .download-img {
      width: 50%;
   }
}
@media screen and (min-width: 992px) {
   #cards .card:first-of-type {
      display: flex;
      flex-wrap: nowrap;
   }
   .download-info {
      width: 50%;
   }
   .download-img {
      align-self: flex-end;
   }
}
/* schermi più larghi di 768px */
@media screen and (min-width: 768px) {
   #cards .col {
      width: calc(100% / 3 - 1rem * 2);
   }

   .col {
      margin: 1rem; /*gutter*/
   }

   .flex-box:has(.col) {
      margin: 0 -1rem;
      /* allineamento gutter-container */
   }

   #cards .col:first-child {
      width: calc(100% / 3 * 2 - 1rem * 2);
   }
}

/* sezione planning */
#planning {
   background-color: var(--primary-color);
   color: white;
}
#planning h2 {
   margin: 5rem 0 3.75rem;
}
#planning .card {
   color: black;
   background-color: white;
   align-self: flex-end;
}
#planning button {
   color: black;
   margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
   #planning h2 {
      margin: 8rem 0 4.375rem;
   }
   #planning img[src*="planning1.png"] {
      margin-top: 5rem;
   }
}
/* schermi più larghi di 992px */
@media screen and (min-width: 992px) {
   #planning > .flex-box {
      align-items: flex-end;
   }
   #planning .col {
      width: calc(50% - 1rem * 2);
   }
}

/* sezione testimonial */
#testimonials h4 {
   font-weight: 100;
}
#testimonials h3 {
   color: var(--primary-color);
}
.testimonial-photo {
   width: 55%;
}
.testimonial-words {
   color: white;
}
.testimony {
   margin-bottom: 1.2rem;
}
.testimony::before,
.testimony::after {
   display: inline;
   font-weight: bold;
   font-size: 2.2rem;
   line-height: 1.8rem;
}
.testimony::before {
   content: "\201C";
}
.testimony::after {
   content: "\201D";
}
.signature {
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 0.25rem;
}
#testimonials .card {
   background-color: var(--primary-color);
}

/* schermi più larghi di 768px */
@media screen and (min-width: 768px) {
   #testimonials .testimonial-photo {
      width: 30%;
   }

   #testimonials .testimonial-words {
      width: 70%;
      padding: 0 2rem;
   }
}

/* sezione features */
#features {
   background-color: var(--primary-color);
   color: white;
}
#features .card:not(p) {
   background-color: white;
   color: var(--primary-color);
}
#features p {
   color: lightslategray;
}
#features a.btn-primary {
   letter-spacing: 0.25rem;
   margin-top: 1.875rem;
}
#features .card {
   flex-grow: 1;
}
.linkedin-info > p {
   margin: 1.875rem 0;
}
/* schermi più larghi di 768px */
@media screen and (min-width: 768px) {
   #features .col {
      width: calc(50% - 1rem * 2);
   }
   .about-text {
      padding-right: 3.4375rem;
   }
}

@media screen and (min-width: 992px) {
   #features .col {
      width: calc(100% / 3 - 1rem * 2);
   }
}

/* sezione about-us */
#about-us {
   padding: 5rem 0;
}
#about-us h2 {
   color: var(--primary-color);
}
.about-text > *:not(:last-child) {
   margin-bottom: 2.5rem;
}
.linkedin-wrapper.col {
   width: 60%;
}
.linkedin-info > p {
   font-size: 1.75rem;
   color: var(--primary-color);
   font-weight: bold;
}
/* schermi più larghi di 768px */
@media screen and (min-width: 768px) {
   .about-text.col {
      width: calc(70% - 1rem * 2);
   }
   .linkedin-wrapper.col {
      width: calc(30% - 1rem * 2);
   }
}
/* sezione get-started */
#get-started {
   background-color: var(--primary-color);
   color: white;
}
#get-started h4 {
   font-weight: lighter;
   font-size: 1rem;
   opacity: 0.8;
}
#get-started strong {
   color: #fdc15f;
   font-size: 5rem;
   margin: 5.3125rem 3.4375rem;
}

#get-started .container > *:not(strong) {
   margin: 1.875rem 0;
}
