/* debug */
article {
   min-height: 250px;
   background-color: green;
}
.col {
   width: 100%;
   margin-bottom: 1.5625rem;
}
/* sezione cards */

/* schermi più larghi di 768px */
@media screen and (min-width: 768px) {
   #cards .col {
      width: calc(100% / 3 - 0.9375rem * 2);
   }

   .col {
      margin: 0.9375rem; /*gutter*/
   }

   .flex-box :has(.col) {
      margin: 0 -0.9375rem;
      /* allineamento gutter-container */
   }

   #cards .col:first-child {
      width: calc(100% / 3 * 2 - 0.9375rem * 2);
   }
}

/* sezione planning */
#planning {
   background-color: var(--primary-color);
}
/* schermi più larghi di 992px */
@media screen and (min-width: 992px) {
   #planning > .flex-box {
      align-items: flex-end;
   }
   #planning .col {
      width: calc(50% - 0.9375rem * 2);
   }
}

/* sezione testimonial */
#testimonials article > * {
   width: 100%;
}

.testimonial-photo > img {
   border-radius: 50%;
   aspect-ratio: 1;
   object-fit: cover;
}
/* schermi più larghi di 768px */
@media screen and (min-width: 768px) {
   #testimonials .testimonial-photo {
      width: 30%;
   }

   #testimonials .testimonial-words {
      width: 70%;
   }
}
